<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.trackstack">

    <application
        android:name=".TrackStackApplication"
        android:allowBackup="true"
        android:label="TrackStack"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrackStack">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
